bs4==0.0.1
fastapi==0.95.1
html5lib==1.1
Markdown==3.3.6
markdown-customblocks @ git+https://github.com/rdsnyder/markdown-customblocks.git@d47d76521e51300ad6de19f4fff97cd5ad01345b
mdx-breakless-lists==1.0.1
mdx-outline @ git+https://github.com/rdsnyder/mdx_outline.git@ab8271b1dd024375a4481f79c36be42567b12859
prependnewline==1.2
pymdown-extensions==9.11
requests==2.28.2
uvicorn==0.21.1